/* put your own styles to customize and override the theme */
div.dt-container input, div.dt-container select {
    margin-left: 5px !important;
    min-width: 60px !important;
    border-radius: 4px !important;
}

div.dt-container .dt-search label {
    display: none !important;
}

div.dt-container .dt-search input {
    padding: 17px 10px;
    margin-right: 3px;
    width: 300px !important;
    max-width: 100%;
}

div.dt-container .dropdown-toggle:after {
    display: none !important;
}

div.dt-container .dt-search input:focus {
    border: 1px solid #575757;
    box-shadow: 0 0 8px 0 #999;
}

div.dt-container .dt-button-down-arrow {
    display: none;
}

div.dt-container .dt-paging .dt-paging-button {
    padding: 3px !important;
    font-size: 1.1em !important;
    color: inherit !important;
    border-radius: 5px !important;
    font-weight: 400;
}

div.dt-container .dt-paging .dt-paging-button.current {
    border: 1px solid #555 !important;
}

.data-table-loading {
    position: relative;
    overflow: hidden;

    &::before {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 999;
        background-color: rgba(180, 180, 180, 0.4);
    }

    &::after {
        content: "";
        width: 100%;
        height: 4px;
        background-color: #254bf8;
        position: absolute;
        transform: translateX(-100%);
        top: 0;
        left: 0;
        overflow: hidden;
        z-index: 999;
        animation: form-loading .8s infinite linear;
    }
}

@keyframes form-loading {
    0% {
        width: 0;
        left: 0;
    }

    25% {
        width: 50%;
        left: 20%;
    }

    50% {
        width: 100%;
        left: 40%;
    }

    75% {
        width: 50%;
        left: 80%;
    }

    100% {
        width: 0;
        left: 100%;
    }
}

.action-btns span {
    cursor: pointer;
    border: 1px solid #999;
    padding: 4px 7px;
    margin-bottom: 2px;
}

.action-btns span.defer-btn:hover {
    cursor: pointer;
    color:crimson
}

.action-btns span.view-btn:hover {
    cursor: pointer;
    color:cornflowerblue
}

.nav-link {
    cursor: pointer;
    user-select: none;
}

.nav-link.active {
    background-color: #394ec611 !important;
}